<div class="row">
  <div class="col-12 col-lg-6">
    <h1>Trucks</h1>
  </div>
  <div class="col-12 col-lg-6 text-end">
    <a routerLink="/trucks/create" class="btn btn-success">Add New</a>
  </div>
</div>

<hr class="mt-4">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Driver</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let truck of trucks">
      <th scope="row"><i class="fa-solid fa-truck"></i></th>
      <td>{{truck.driver}}</td>
      <td><a [routerLink]="['/trucks/edit', truck.id]" class="btn btn-primary">Edit</a></td>
      <td><button class="btn btn-danger" (click)="deleteTruck(truck.id)">Delete</button></td>
    </tr>

  </tbody>
</table>
